* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('safety1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); 
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

header {
    margin-bottom: 40px;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.stat {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.stat:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 188, 212, 0.5);
}

.stat h2 {
    font-size: 48px;
    font-weight: bold;
    color: #00bcd4;
}

.stat p {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    margin-top: 60px;
}
